#banners {
    display: inline-block;
    background-color: #4470C7;
    width: 160px;
    position: absolute;
    left: 0px; 
    text-align: center;
}

#banners nav {
    margin-top: 20px;
}

#bugi-icon {
    padding-top: 50px;
    /* transform: translateX(50px); */
    width: 60px;
}

.option-icon {
    width: 30px;
    /* transform: translateX(50px); */
}

.option {
    display: inline-block;
    color: white;
    font-weight: lighter;
    height: 50px;
    width: 160px;
    text-align: center;
}

.option:nth-child(1) {
    margin-top: 100px;
}

#page-container h3 {
    transform: translateX(150px);
}

#page-container table {
    width: 1000px;
}

#page-container table td,#page-container table th {
    height: 70px;
    text-align: center;
}

#page-container table td {
    text-align: left;
}

#page-container {
    width: 1200px;
    display: inline-block;
    position : absolute;
	transform: translateX(160px);
    font-size: 16px;
    margin-top: 30px;
}