.print-head{
    display: inline;
    font-weight: bold;
    font-size: 100%;
    margin-right: 10px;
    margin-left: 10px;

}
.print-body{
    display: inline;
    font-size: 80%;
}

table .context{
    margin-top: 20px;
}
.class-plan-wrap{
    margin-left: 15px;
    font-size: 17px;

}
.class-plan-wrap table {
    border-left: none;
    border-right: none;
}
.class-plan-wrap table h4{
    margin-top: 25px;
}
.class-plan-wrap table tr{ 
   
    border-top: none;  
    border-bottom: none;
    
}
.class-plan-wrap table td{ 
    
    border-right: none;
    border-left: none;

}
.class-component-label {
    display: block;
    padding: 6px 15px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.class-plan {
    width: 100%;
    margin: 0px 0px 0px 0px;
}