.datail-warp {
    /*padding: 50px 0;*/
    padding-left: 150px;
}

.datail-warp th {
    color: white;
    padding: 6px 30px;
    background-color: #4470C7;
    text-align: center;
}

.my-detail-right .detail-label {
    display: block;
    padding: 6px 15px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    float: left;
    margin-left: 30px;
    margin-top: 10px;

}

.my-detail-right .detail-label-active {
    color: #ffffff;
    background-color: #4470C7;
    display: block;
    padding: 6px 15px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    float: left;
    margin-left: 30px;
    margin-top: 5px;

}

.table {
    width: 100%;
}