.search_warp{
    padding: 40px 0;
    padding-left: 150px;
}

.search_warp label{
    display: inline-block;
    padding : 6px 11px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
}

.search_warp td{
    /* text-align: center; */
    border: 1px gray solid;
    padding-left: 35px;
}
.search_warp th{
    background: #4470C7;
    color:white;
    text-align: center;
    border: 1px gray solid;
} 