.preset-btn {
    width:50px;
    display:"inline-block";
    height:50px;
    padding-top:2px;
    border-radius: 10px;
    border: 2px solid white;
    margin-right:30px;
}

.cart-btn {
    width:120px;
    display:"inline-block";
    background-color: lightgray;
    height:50px;
    padding-top:2px;
    border-radius: 10px;
    border: 2px solid black;
    color:black;
    margin-right:30px;
}