.game-title-screen-wrap {
    color:white;
    height:100%;
    background: url(../static/gameTitleBg.png) no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding-top:4%;
}

header #game-title{
    font-size: 4.5rem;
}

#game-setting-section {
    margin:0 auto;
    border-radius:46px;
    background: #7CABD7;
    border: 5px solid #FFFFFF;
    width:45%;
    height:48%;
    padding: 0 auto;
}

#game-title-screen-nav { 
    margin-top:30px;
    padding: 0 auto;
}

#game-title-screen-nav button{ 
    display:inline-block;
    margin-right:2%;
    background: #E8E8E8;
    border-radius: 12px;
    width:15%;
    font-size: 30px;
}
