.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* modal창 */
.modalBody {
  position: absolute;
  width: 600px;
  height: 400px;
  /* padding: 40px; */
  text-align: center;
  background-color: #B9D9FF;
  border: 5px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

#game-info-title{
    position: absolute;
    top: 10px;
    left:230px;
    font-size: 35px;
    color: #000000;
} 

#info-icon{
    top: 10px;
    left:10px;
    font-size: 40px;
}

#modalCloseBtn {
  position: absolute;
  top: 7px;
  right: 15px;
  border: none;
  color:#3975B5;
  /* color: rgba(0, 0, 0, 0.7); */
  background-color: transparent;
  font-size: 40px;
}

#modal-division {
    position: absolute;
    height:1px;
    width:100%;
    border-bottom: 5px solid #ffffff;
    top: 72px;
}
 
#modalCloseBtn:hover {
  cursor: pointer;
}

.game-info-btn {
    width:52px;
    height:52px;
    display:"inline-block";
    border-radius: 10px;
    background-color: #3975B5;
    border: 3px solid white;
    margin-left:30px;
    margin-bottom:20px;
    font-size:30px;
}
#game-slogan{
    display:inline-block;
    padding-left:20px;
    padding-right:0px;
    margin-top:85px;
    font-size:30px;
    background-color: #89B2EB;
    /* background-color: #3975B5; */
}

#game-info-contents {
    margin-top:10px;
}