#subject-container  {
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 30px;
}

#subject-container::-webkit-scrollbar {
    width: 8px;
    /* 스크롤바의 너비 */
}

#subject-container::-webkit-scrollbar-thumb {
    height: 30%;
    /* 스크롤바의 길이 */
    background: #7a7a7a;
    /* 스크롤바의 색상 */

    border-radius: 10px;
}

#subject-container::-webkit-scrollbar-track {
    background: rgba(190, 190, 190, 0.1);
    /*스크롤바 뒷 배경 색상*/
}
