
.preset-subject {
    display: inline-block;
    width: 180px;
    background-color:cadetblue;
    position: fixed;
}

.preset-subject .subject-name {
    display: inline-block;
    height: 40%;
    width: 100%;
    text-align: center;
    position : absolute;
    top : 10%;
    margin: 0px 0px 0px 0px;
    /* margin-top: 10%; */
}

.preset-subject .subject-professor {
    display: inline-block;
    height: 20%;
    width: 100%;
    position : absolute;
    text-align: right;
    bottom : 20%;
    right: 40%;
}

#schedule h4 {
    transform: translateX(150px);
    margin-top: 40px;
    margin-bottom: 20px;
}

#schedule table {
    width: 1002px;
    transform: translateX(150px);
    font-size: 16px;
}

#schedule table tr td:first-child {
    background: #4470C7;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#schedule table td {
    display: inline-block;
    width: 180px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.334);   
    line-height: 50px;
    text-align: center;
}

#week td {
    font-size: 20px;
}

#week td:first-child {
    border-radius: 20px 0px 0px 0px;
}

#week td:last-child {
    border-radius: 0px 20px 0px 0px;
}

#schedule table tr:last-child > td:first-child {
    border-radius: 0px 0px 0px 20px;
}

#schedule table tr:last-child > td:last-child {
    border-radius: 0px 0px 20px 0px;
}

#schedule table th {
    border-radius: 10px;
}

#schedule table td:first-child {
    width: 100px;
    
}
