
.subjects-warp {
    padding-left: 150px;
}

.subjects-warp h4 {
    padding-top: 40px;
}

.subjects-warp hr {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -35px;
    width: 1100px;
    border: 0;
    height: 2px;
    background: rgba(171, 171, 171, 0.523);
}

.selected-grade {
    /* font-size: 22px; */
    margin-left: 0px;
    margin-top: 40px;
}

.selected-grade:nth-child(1) {
    margin-top: 10px;
}

.subject {
    display: inline-block;
    width: 235px;
    height: 110px;
    border: 2px solid rgba(77, 77, 77, 0.507);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.subject-name {
    display: inline-block;
    font-size: 18px;
    /* text-align: center; */
    margin-left: 15px;
    width: 220px;
    margin-top: 10px;
}

.keyword {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    width: 80px;
    height: 22px;
    margin-top: 8px;
    margin-left: -5px;
    border-radius: 10px;
    line-height: 22px;
}

.keyword:nth-child(1) {
    margin-left: 11px;
}

.keyword:nth-child(2n-1) {
    background-color: rgba(167, 167, 167, 0.86);
}

.keyword:nth-child(2n) {
    background-color: rgba(188, 228, 252, 0.966);
}

.professor {
    display: inline-block;
    font-size: 13px;
    margin-left: 15px;
    margin-top: 8px;
}

#likeDiv{
    width: 1000px;
    height:auto;
    /* overflow:hidden; */
    position: relative;
    background-color: #d4d4d4;
    align-content: center;
    margin: 20px;
    border-radius: 20px;
}
#likeDiv-inner{
    overflow:hidden;
    width: 100%;
    height: 100%;
    margin-left: 10px;
    margin-top: 5px;
}