@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,body,#root{
  height:100%;
}

body {
  margin: 0;
  font-family: 'IM_Hyemin-Bold';
}

nav {
  border-bottom: "solid 1px";
  padding-bottom: "1rem";
}
