@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

html,body,#root{
  height:100%;
}

body {
  margin: 0;
  font-family: 'IM_Hyemin-Bold';
}

nav {
  border-bottom: "solid 1px";
  padding-bottom: "1rem";
}
body::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: #b1b1b1;
  /* 스크롤바의 색상 */

  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(190, 190, 190, 0.1);
  /*스크롤바 뒷 배경 색상*/
}